/* CSS for the Team Section on index.md */

.cycle-slideshow {
    /*min-width: 200px;*/
    width: 860px;
    /*width: 30%;*/     /* Center the div */
    margin: 0 auto;
}

.section-team {
    /*background: -webkit-radial-gradient(circle, #1e1e1e, #1e1e1e);*/
    /*margin-top: 40px;*/
    margin-right: 0px;
}

.staff-row-1 {
    margin: 20px 5px 0 5px;
    max-width: 100%;
}
.staff-row-2 {
    padding-top: 220px;
    margin: 20px 5px 0 5px;
    max-width: 100%;
}
.staff-row-3 {
    padding-top: 200px;
    margin: 20px 5px 0 5px;
    max-width: 100%;
}

.staff-pic-1 {
    display: inline;
    width: 150px;
    position: absolute;
    margin: 10px 10px 0 10px;
    left: 20%;
}
.staff-pic-2 {
    display: inline;
    width: 150px;
    position: absolute;
    margin: 10px 10px 0 10px;
    left: 35%;
}
.staff-pic-3 {
    display: inline;
    width: 150px;
    position: absolute;
    margin: 10px 10px 0 10px;
    left: 50%;
}
.staff-pic-4 {
    display: inline;
    width: 150px;
    position: absolute;
    margin: 10px 10px 0 10px;
    left: 65%;
}

.staff-pic-4 img {
    max-width: 150px;
}

.section-team .overlay {
    /* padding-right:5px; */
    width:145px;
    z-index: 200;
    position:absolute;
    height: 35px;
    font-weight: 500;
    background-color: #65bcff;
    opacity: 0.9;
    /*top:-20px;*/  /* Change this for overlay vertical position */
    text-align: center;
    /* display: none; */
    line-height: 1.2em;
}

/*  This is broken on Macs (see #3)
.staff-pic:hover .overlay {
    display: block;
}
*/

